.card img {
    max-width: 100% !important;
    height: auto;
    display: block;
    margin: 0 auto;
}

.mb-3 .btn {
    margin: 6px;
}

img {
    transition: transform 0.25s ease;
    cursor: zoom-in;
}
img:hover {
    transform: scale(1.25);
}
img:active {
    transform: scale(1.5);
}

@media (max-width: 425px) {
    .card img {
        width: 95%;
    }
}

@media (max-width: 375px) {
    .card img {
        width: 92%;
    }
}

@media (max-width: 320px) {
    .card img {
        width: 88%;
    }
}
